<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>

.image .text {
    position:absolute;
    top:0px;
    left:0px;
    width:300px;
    text-align:center;

}
.image .text span {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 48px;
    color: #f7f6f8;
    text-align:center;
}
mark {
  background-color: rgb(40, 40, 41);
  color: rgb(248, 244, 244);
}

</style>
</head>
<tr>
    <div class="image">
      <img alt="" src="https://images.pexels.com/photos/1420702/pexels-photo-1420702.jpeg?cs=srgb&dl=pexels-lukas-1420702.jpg&fm=jpg"style="width:100%; "/>
      <div class="text">
        <span><mark>Continue By pressing - Login With Twitter</mark></span> 
        <span><a  href="/api/authorize_twitter" class="btn btn-outline-light" role="button" aria-pressed="true">Login With Twitter</a></span>
      </div>
    </div>
    </tr>